<a href="https://colab.research.google.com/github/Krisss993/data-science/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

In [166]:
namesList = ['Albania','Austria','Belarus','Belgium','Bulgaria','Croatia','Cyprus',
'Czech Republic','Denmark','Estonia','Finland','France','Germany','Greece',
'Hungary','Iceland','Ireland','Italy','Latvia','Lithuania','Luxembourg',
'Macedonia','Malta','Montenegro','Netherlands','Norway','Poland','Portugal',
'Romania','Russia','Serbia','Slovenia','Spain','Sweden','Switzerland',
'United Kingdom','Turkey','Ukraine']
namesSeries = pd.Series(namesList)
namesSeries

0            Albania
1            Austria
2            Belarus
3            Belgium
4           Bulgaria
5            Croatia
6             Cyprus
7     Czech Republic
8            Denmark
9            Estonia
10           Finland
11            France
12           Germany
13            Greece
14           Hungary
15           Iceland
16           Ireland
17             Italy
18            Latvia
19         Lithuania
20        Luxembourg
21         Macedonia
22             Malta
23        Montenegro
24       Netherlands
25            Norway
26            Poland
27          Portugal
28           Romania
29            Russia
30            Serbia
31          Slovenia
32             Spain
33            Sweden
34       Switzerland
35    United Kingdom
36            Turkey
37           Ukraine
dtype: object

In [167]:
energy2010List = [1947,8347,3564,8369,4560,3814,4623,6348,6328,6506,16483,7736,
7264,5318,3876,51440,5911,5494,3230,3471,16830,3521,4171,5420,
7010,24891,3797,4959,2551,6410,4359,6521,5707,14934,8175,2498, 2123, 1512]
energy2010Series = pd.Series(energy2010List)
energy2010Series

0      1947
1      8347
2      3564
3      8369
4      4560
5      3814
6      4623
7      6348
8      6328
9      6506
10    16483
11     7736
12     7264
13     5318
14     3876
15    51440
16     5911
17     5494
18     3230
19     3471
20    16830
21     3521
22     4171
23     5420
24     7010
25    24891
26     3797
27     4959
28     2551
29     6410
30     4359
31     6521
32     5707
33    14934
34     8175
35     2498
36     2123
37     1512
dtype: int64

In [168]:
energy2012List = [2118,8507,3698,7987,4762,3819,4057,6305,6039,6689,15687,7344,
7270,5511,3919,53203,5665,5398,3588,3608,14696,3626,4761,5416,
6871,23658,3899,4736,2604,6617,4387,6778,5573,14290,7886,2794, 2141, 7423]
energy2012Series = pd.Series(energy2012List)
energy2012Series

0      2118
1      8507
2      3698
3      7987
4      4762
5      3819
6      4057
7      6305
8      6039
9      6689
10    15687
11     7344
12     7270
13     5511
14     3919
15    53203
16     5665
17     5398
18     3588
19     3608
20    14696
21     3626
22     4761
23     5416
24     6871
25    23658
26     3899
27     4736
28     2604
29     6617
30     4387
31     6778
32     5573
33    14290
34     7886
35     2794
36     2141
37     7423
dtype: int64

Średnia z serii 2010

In [169]:
mean2010 = energy2010Series.mean()
mean2010

7632.0526315789475

2012

In [170]:
mean2012 = energy2012Series.mean()
mean2012

7719.210526315789

Filtr zwracający true dla wartości większych od średniej

In [171]:
filterAboveMean2010 = energy2010Series > mean2010
filterAboveMean2010

0     False
1      True
2     False
3      True
4     False
5     False
6     False
7     False
8     False
9     False
10     True
11     True
12    False
13    False
14    False
15     True
16    False
17    False
18    False
19    False
20     True
21    False
22    False
23    False
24    False
25     True
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33     True
34     True
35    False
36    False
37    False
dtype: bool

In [172]:
filterAboveMean2012 = energy2012Series > mean2012
filterAboveMean2012

0     False
1      True
2     False
3      True
4     False
5     False
6     False
7     False
8     False
9     False
10     True
11    False
12    False
13    False
14    False
15     True
16    False
17    False
18    False
19    False
20     True
21    False
22    False
23    False
24    False
25     True
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33     True
34     True
35    False
36    False
37    False
dtype: bool

Filtr z przypisanymi krajami do wartości powyżej średniej zarówno w 2010 jak i 2012 z usunięciem wartości nan (normalnie filtr podaje całą tabelę)

In [173]:
namesSeries.where(filterAboveMean2010 & filterAboveMean2012).dropna()

1         Austria
3         Belgium
10        Finland
15        Iceland
20     Luxembourg
25         Norway
33         Sweden
34    Switzerland
dtype: object

Sortowanie po *indeksie*

In [46]:
energy2012Series.sort_index()

0      2118
1      8507
2      3698
3      7987
4      4762
5      3819
6      4057
7      6305
8      6039
9      6689
10    15687
11     7344
12     7270
13     5511
14     3919
15    53203
16     5665
17     5398
18     3588
19     3608
20    14696
21     3626
22     4761
23     5416
24     6871
25    23658
26     3899
27     4736
28     2604
29     6617
30     4387
31     6778
32     5573
33    14290
34     7886
35     2794
dtype: int64

Sortowanie series po wartościach

In [19]:
energy2012Series.sort_values(ascending=False)

15    53203
25    23658
10    15687
20    14696
33    14290
1      8507
3      7987
34     7886
11     7344
12     7270
24     6871
31     6778
9      6689
29     6617
7      6305
8      6039
16     5665
32     5573
13     5511
37     5452
23     5416
17     5398
4      4762
22     4761
27     4736
30     4387
6      4057
14     3919
26     3899
5      3819
2      3698
36     3641
21     3626
19     3608
18     3588
35     2794
28     2604
0      2118
dtype: int64

Sprawdzenie czy wartość jest w wartościach series, bez .values szuka po INDEKSIE

In [47]:
'Belgium' in namesSeries.values

True

Długość namesSeries

In [48]:
len(namesSeries)

36

Tworzenie df

In [189]:
df = pd.DataFrame(data = np.c_[namesSeries, energy2010Series, energy2012Series], columns=['Country', '2010', '2012'])

In [175]:
df

           Country   2010   2012
0          Albania   1947   2118
1          Austria   8347   8507
2          Belarus   3564   3698
3          Belgium   8369   7987
4         Bulgaria   4560   4762
5          Croatia   3814   3819
6           Cyprus   4623   4057
7   Czech Republic   6348   6305
8          Denmark   6328   6039
9          Estonia   6506   6689
10         Finland  16483  15687
11          France   7736   7344
12         Germany   7264   7270
13          Greece   5318   5511
14         Hungary   3876   3919
15         Iceland  51440  53203
16         Ireland   5911   5665
17           Italy   5494   5398
18          Latvia   3230   3588
19       Lithuania   3471   3608
20      Luxembourg  16830  14696
21       Macedonia   3521   3626
22           Malta   4171   4761
23      Montenegro   5420   5416
24     Netherlands   7010   6871
25          Norway  24891  23658
26          Poland   3797   3899
27        Portugal   4959   4736
28         Romania   2551   2604
29          Russia   6410   6617
30          Serbia   4359   4387
31        Slovenia   6521   6778
32           Spain   5707   5573
33          Sweden  14934  14290
34     Switzerland   8175   7886
35  United Kingdom   2498   2794
36          Turkey   2123   2141
37         Ukraine   1512   7423

Sortowanie po kolumnie 2012

In [77]:
list2012Sorted = sorted(df['2012'],reverse=True)
list2012Sorted

[53203,
 23658,
 15687,
 14696,
 14290,
 8507,
 7987,
 7886,
 7344,
 7270,
 6871,
 6778,
 6689,
 6617,
 6305,
 6039,
 5665,
 5573,
 5511,
 5416,
 5398,
 4762,
 4761,
 4736,
 4387,
 4057,
 3919,
 3899,
 3819,
 3698,
 3626,
 3608,
 3588,
 2794,
 2604,
 2118]

Ustawienie indeksu na kolumnę Country

In [82]:
df.set_index('Country')

                  2010   2012
Country
Albania           1947   2118
Austria           8347   8507
Belarus           3564   3698
Belgium           8369   7987
Bulgaria          4560   4762
Croatia           3814   3819
Cyprus            4623   4057
Czech Republic    6348   6305
Denmark           6328   6039
Estonia           6506   6689
Finland          16483  15687
France            7736   7344
Germany           7264   7270
GreeceHungary     5318   5511
Iceland           3876   3919
Ireland          51440  53203
Italy             5911   5665
Latvia            5494   5398
Lithuania         3230   3588
Luxembourg        3471   3608
Macedonia        16830  14696
Malta             3521   3626
Montenegro        4171   4761
Netherlands       5420   5416
Norway            7010   6871
Poland           24891  23658
PortugalRomania   3797   3899
Russia            4959   4736
Serbia            2551   2604
Slovenia          6410   6617
Spain             4359   4387
Sweden            6521   6778
Switzerland       5707   5573
United Kingdom   14934  14290
Turkey            8175   7886
Ukraine           2498   2794

Kolumna Country

In [80]:
df['Country']

0             Albania
1             Austria
2             Belarus
3             Belgium
4            Bulgaria
5             Croatia
6              Cyprus
7      Czech Republic
8             Denmark
9             Estonia
10            Finland
11             France
12            Germany
13      GreeceHungary
14            Iceland
15            Ireland
16              Italy
17             Latvia
18          Lithuania
19         Luxembourg
20          Macedonia
21              Malta
22         Montenegro
23        Netherlands
24             Norway
25             Poland
26    PortugalRomania
27             Russia
28             Serbia
29           Slovenia
30              Spain
31             Sweden
32        Switzerland
33     United Kingdom
34             Turkey
35            Ukraine
Name: Country, dtype: object

Utworzenie series z indekem z kolumny Country i wartościami z 2010

In [81]:
ser = pd.Series(index=df['Country'], data=df['2010'].values)
ser

Country
Albania             1947
Austria             8347
Belarus             3564
Belgium             8369
Bulgaria            4560
Croatia             3814
Cyprus              4623
Czech Republic      6348
Denmark             6328
Estonia             6506
Finland            16483
France              7736
Germany             7264
GreeceHungary       5318
Iceland             3876
Ireland            51440
Italy               5911
Latvia              5494
Lithuania           3230
Luxembourg          3471
Macedonia          16830
Malta               3521
Montenegro          4171
Netherlands         5420
Norway              7010
Poland             24891
PortugalRomania     3797
Russia              4959
Serbia              2551
Slovenia            6410
Spain               4359
Sweden              6521
Switzerland         5707
United Kingdom     14934
Turkey              8175
Ukraine             2498
dtype: object

Statystyki kolumny 2010

In [83]:
df['2010'].median()

5600.5

In [84]:
df['2010'].mean()

7955.083333333333

In [85]:
df['2010'].max()

51440

In [86]:
df['2010'].std()

8793.80477178597

In [102]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  36 non-null     object
 1   2010     36 non-null     object
 2   2012     36 non-null     object
dtypes: object(3)
memory usage: 992.0+ bytes

In [103]:
df.describe()

        Country  2010  2012
count        36    36    36
unique       36    36    36
top     Albania  1947  2118
freq          1     1     1

Utworzenie series z walumny z 2010 z typem danych int

In [100]:
ser = df['2010'].astype('int')
ser

0      1947
1      8347
2      3564
3      8369
4      4560
5      3814
6      4623
7      6348
8      6328
9      6506
10    16483
11     7736
12     7264
13     5318
14     3876
15    51440
16     5911
17     5494
18     3230
19     3471
20    16830
21     3521
22     4171
23     5420
24     7010
25    24891
26     3797
27     4959
28     2551
29     6410
30     4359
31     6521
32     5707
33    14934
34     8175
35     2498
Name: 2010, dtype: int64

Zwraca indeks wiersza tam gdzie wartość jest największa

In [101]:
max_index = ser.idxmax()
max_index

15

Operacje na tekście

In [104]:
df['Country'].str.upper()

0             ALBANIA
1             AUSTRIA
2             BELARUS
3             BELGIUM
4            BULGARIA
5             CROATIA
6              CYPRUS
7      CZECH REPUBLIC
8             DENMARK
9             ESTONIA
10            FINLAND
11             FRANCE
12            GERMANY
13      GREECEHUNGARY
14            ICELAND
15            IRELAND
16              ITALY
17             LATVIA
18          LITHUANIA
19         LUXEMBOURG
20          MACEDONIA
21              MALTA
22         MONTENEGRO
23        NETHERLANDS
24             NORWAY
25             POLAND
26    PORTUGALROMANIA
27             RUSSIA
28             SERBIA
29           SLOVENIA
30              SPAIN
31             SWEDEN
32        SWITZERLAND
33     UNITED KINGDOM
34             TURKEY
35            UKRAINE
Name: Country, dtype: object

In [105]:
df['Country'].apply(lambda desc:desc.upper())

0             ALBANIA
1             AUSTRIA
2             BELARUS
3             BELGIUM
4            BULGARIA
5             CROATIA
6              CYPRUS
7      CZECH REPUBLIC
8             DENMARK
9             ESTONIA
10            FINLAND
11             FRANCE
12            GERMANY
13      GREECEHUNGARY
14            ICELAND
15            IRELAND
16              ITALY
17             LATVIA
18          LITHUANIA
19         LUXEMBOURG
20          MACEDONIA
21              MALTA
22         MONTENEGRO
23        NETHERLANDS
24             NORWAY
25             POLAND
26    PORTUGALROMANIA
27             RUSSIA
28             SERBIA
29           SLOVENIA
30              SPAIN
31             SWEDEN
32        SWITZERLAND
33     UNITED KINGDOM
34             TURKEY
35            UKRAINE
Name: Country, dtype: object

In [116]:
def change_ending(name):
  if name.endswith('a'):
    name+='r'
  return name

In [117]:
df['Country'].apply(change_ending)

0             Albaniar
1             Austriar
2              Belarus
3              Belgium
4            Bulgariar
5             Croatiar
6               Cyprus
7       Czech Republic
8              Denmark
9             Estoniar
10             Finland
11              France
12             Germany
13       GreeceHungary
14             Iceland
15             Ireland
16               Italy
17             Latviar
18          Lithuaniar
19          Luxembourg
20          Macedoniar
21              Maltar
22          Montenegro
23         Netherlands
24              Norway
25              Poland
26    PortugalRomaniar
27             Russiar
28             Serbiar
29           Sloveniar
30               Spain
31              Sweden
32         Switzerland
33      United Kingdom
34              Turkey
35             Ukraine
Name: Country, dtype: object

Opis i dane df i kolumn

In [118]:
df.dtypes

Country    object
2010       object
2012       object
dtype: object

In [119]:
df['Country'].value_counts()

Country
Albania            1
Austria            1
Macedonia          1
Malta              1
Montenegro         1
Netherlands        1
Norway             1
Poland             1
PortugalRomania    1
Russia             1
Serbia             1
Slovenia           1
Spain              1
Sweden             1
Switzerland        1
United Kingdom     1
Turkey             1
Luxembourg         1
Lithuania          1
Latvia             1
Denmark            1
Belarus            1
Belgium            1
Bulgaria           1
Croatia            1
Cyprus             1
Czech Republic     1
Estonia            1
Italy              1
Finland            1
France             1
Germany            1
GreeceHungary      1
Iceland            1
Ireland            1
Ukraine            1
Name: count, dtype: int64

In [120]:
df.shape

(36, 3)

Wyszukiwanie wartości

In [122]:
df.loc[16,'2010']

5911

In [124]:
df.iloc[16,1]

5911

Zwraca wiersz w którym wartość w 2012 jest największa

In [127]:
df.iloc[df['2012'].astype('int').idxmax()]

Country    Ireland
2010         51440
2012         53203
Name: 15, dtype: object

Usunięcie wartości nan z kolumny 2010

In [128]:
df.dropna(subset=['2010'])

            Country   2010   2012
0           Albania   1947   2118
1           Austria   8347   8507
2           Belarus   3564   3698
3           Belgium   8369   7987
4          Bulgaria   4560   4762
5           Croatia   3814   3819
6            Cyprus   4623   4057
7    Czech Republic   6348   6305
8           Denmark   6328   6039
9           Estonia   6506   6689
10          Finland  16483  15687
11           France   7736   7344
12          Germany   7264   7270
13    GreeceHungary   5318   5511
14          Iceland   3876   3919
15          Ireland  51440  53203
16            Italy   5911   5665
17           Latvia   5494   5398
18        Lithuania   3230   3588
19       Luxembourg   3471   3608
20        Macedonia  16830  14696
21            Malta   3521   3626
22       Montenegro   4171   4761
23      Netherlands   5420   5416
24           Norway   7010   6871
25           Poland  24891  23658
26  PortugalRomania   3797   3899
27           Russia   4959   4736
28           Serbia   2551   2604
29         Slovenia   6410   6617
30            Spain   4359   4387
31           Sweden   6521   6778
32      Switzerland   5707   5573
33   United Kingdom  14934  14290
34           Turkey   8175   7886
35          Ukraine   2498   2794

Uzupełnianie  nan wybranymi wartościami

In [129]:
df['2010'].ffill()

0      1947
1      8347
2      3564
3      8369
4      4560
5      3814
6      4623
7      6348
8      6328
9      6506
10    16483
11     7736
12     7264
13     5318
14     3876
15    51440
16     5911
17     5494
18     3230
19     3471
20    16830
21     3521
22     4171
23     5420
24     7010
25    24891
26     3797
27     4959
28     2551
29     6410
30     4359
31     6521
32     5707
33    14934
34     8175
35     2498
Name: 2010, dtype: int64

In [130]:
df['2010'].bfill()

0      1947
1      8347
2      3564
3      8369
4      4560
5      3814
6      4623
7      6348
8      6328
9      6506
10    16483
11     7736
12     7264
13     5318
14     3876
15    51440
16     5911
17     5494
18     3230
19     3471
20    16830
21     3521
22     4171
23     5420
24     7010
25    24891
26     3797
27     4959
28     2551
29     6410
30     4359
31     6521
32     5707
33    14934
34     8175
35     2498
Name: 2010, dtype: int64

In [131]:
df['2010'].fillna(df['2010'].mean())

0      1947
1      8347
2      3564
3      8369
4      4560
5      3814
6      4623
7      6348
8      6328
9      6506
10    16483
11     7736
12     7264
13     5318
14     3876
15    51440
16     5911
17     5494
18     3230
19     3471
20    16830
21     3521
22     4171
23     5420
24     7010
25    24891
26     3797
27     4959
28     2551
29     6410
30     4359
31     6521
32     5707
33    14934
34     8175
35     2498
Name: 2010, dtype: int64

Tworzenie rankingu po kolumnie 2010

In [190]:
cols = ['2010', '2012']
for c in cols:
  df[c] = df[c].astype('int')
df.dtypes

Country    object
2010        int64
2012        int64
dtype: object

In [138]:
df['2010'].rank(ascending=False).sort_values()

15     1.0
25     2.0
20     3.0
10     4.0
33     5.0
3      6.0
1      7.0
34     8.0
11     9.0
12    10.0
24    11.0
31    12.0
9     13.0
29    14.0
7     15.0
8     16.0
16    17.0
32    18.0
17    19.0
23    20.0
13    21.0
27    22.0
6     23.0
4     24.0
30    25.0
22    26.0
14    27.0
5     28.0
26    29.0
2     30.0
21    31.0
19    32.0
18    33.0
28    34.0
35    35.0
0     36.0
Name: 2010, dtype: float64

In [139]:
df['2010'].nlargest()

15    51440
25    24891
20    16830
10    16483
33    14934
Name: 2010, dtype: int64

In [140]:
df['2010'].nsmallest()

0     1947
35    2498
28    2551
18    3230
19    3471
Name: 2010, dtype: int64

Filtrowanie

In [149]:
filter = df.where(df['2012'] < mean2012)
len(filter)

36

In [150]:
len(filter.dropna())

28

In [153]:
btw = df['2012'].between(2000,8000)
df[btw]

            Country  2010  2012
0           Albania  1947  2118
2           Belarus  3564  3698
3           Belgium  8369  7987
4          Bulgaria  4560  4762
5           Croatia  3814  3819
6            Cyprus  4623  4057
7    Czech Republic  6348  6305
8           Denmark  6328  6039
9           Estonia  6506  6689
11           France  7736  7344
12          Germany  7264  7270
13    GreeceHungary  5318  5511
14          Iceland  3876  3919
16            Italy  5911  5665
17           Latvia  5494  5398
18        Lithuania  3230  3588
19       Luxembourg  3471  3608
21            Malta  3521  3626
22       Montenegro  4171  4761
23      Netherlands  5420  5416
24           Norway  7010  6871
26  PortugalRomania  3797  3899
27           Russia  4959  4736
28           Serbia  2551  2604
29         Slovenia  6410  6617
30            Spain  4359  4387
31           Sweden  6521  6778
32      Switzerland  5707  5573
34           Turkey  8175  7886
35          Ukraine  2498  2794

In [157]:
df.query("Country == 'Poland'")

   Country   2010   2012
25  Poland  24891  23658

Zwraca wartości unikatowe

In [155]:
df['Country'].unique()

array(['Albania', 'Austria', 'Belarus', 'Belgium', 'Bulgaria', 'Croatia',
       'Cyprus', 'Czech Republic', 'Denmark', 'Estonia', 'Finland',
       'France', 'Germany', 'GreeceHungary', 'Iceland', 'Ireland',
       'Italy', 'Latvia', 'Lithuania', 'Luxembourg', 'Macedonia', 'Malta',
       'Montenegro', 'Netherlands', 'Norway', 'Poland', 'PortugalRomania',
       'Russia', 'Serbia', 'Slovenia', 'Spain', 'Sweden', 'Switzerland',
       'United Kingdom', 'Turkey', 'Ukraine'], dtype=object)

Zmiana nazw kolumn

In [191]:
df.rename(columns={'2010' : 'EnergyCost2010',
'2012' : 'EnergyCost2012'},
inplace=True)

In [192]:
df.columns

Index(['Country', 'EnergyCost2010', 'EnergyCost2012'], dtype='object')

Zmiana wartości indeksu

In [161]:
df.rename(index={0:10000})

               Country  EnergyCost2010  EnergyCost2012
10000          Albania            1947            2118
1              Austria            8347            8507
2              Belarus            3564            3698
3              Belgium            8369            7987
4             Bulgaria            4560            4762
5              Croatia            3814            3819
6               Cyprus            4623            4057
7       Czech Republic            6348            6305
8              Denmark            6328            6039
9              Estonia            6506            6689
10             Finland           16483           15687
11              France            7736            7344
12             Germany            7264            7270
13       GreeceHungary            5318            5511
14             Iceland            3876            3919
15             Ireland           51440           53203
16               Italy            5911            5665
17              Latvia            5494            5398
18           Lithuania            3230            3588
19          Luxembourg            3471            3608
20           Macedonia           16830           14696
21               Malta            3521            3626
22          Montenegro            4171            4761
23         Netherlands            5420            5416
24              Norway            7010            6871
25              Poland           24891           23658
26     PortugalRomania            3797            3899
27              Russia            4959            4736
28              Serbia            2551            2604
29            Slovenia            6410            6617
30               Spain            4359            4387
31              Sweden            6521            6778
32         Switzerland            5707            5573
33      United Kingdom           14934           14290
34              Turkey            8175            7886
35             Ukraine            2498            2794

Zmiana wartości

In [164]:
df.loc[0,'EnergyCost2012'] = 2200

In [165]:
df.loc[0,'EnergyCost2012']

2200

Zmiana indeksu

In [193]:
df

           Country  EnergyCost2010  EnergyCost2012
0          Albania            1947            2118
1          Austria            8347            8507
2          Belarus            3564            3698
3          Belgium            8369            7987
4         Bulgaria            4560            4762
5          Croatia            3814            3819
6           Cyprus            4623            4057
7   Czech Republic            6348            6305
8          Denmark            6328            6039
9          Estonia            6506            6689
10         Finland           16483           15687
11          France            7736            7344
12         Germany            7264            7270
13          Greece            5318            5511
14         Hungary            3876            3919
15         Iceland           51440           53203
16         Ireland            5911            5665
17           Italy            5494            5398
18          Latvia            3230            3588
19       Lithuania            3471            3608
20      Luxembourg           16830           14696
21       Macedonia            3521            3626
22           Malta            4171            4761
23      Montenegro            5420            5416
24     Netherlands            7010            6871
25          Norway           24891           23658
26          Poland            3797            3899
27        Portugal            4959            4736
28         Romania            2551            2604
29          Russia            6410            6617
30          Serbia            4359            4387
31        Slovenia            6521            6778
32           Spain            5707            5573
33          Sweden           14934           14290
34     Switzerland            8175            7886
35  United Kingdom            2498            2794
36          Turkey            2123            2141
37         Ukraine            1512            7423

In [194]:
dff = df.copy()

In [198]:
dff.set_index('Country', inplace=True)

KeyError: "None of ['Country'] are in the columns"

Przed kolejną zmianą indeksu należy go najpierw zresetować

In [200]:
dff.set_index('EnergyCost2010')

                EnergyCost2012
EnergyCost2010
1947                      2118
8347                      8507
3564                      3698
8369                      7987
4560                      4762
3814                      3819
4623                      4057
6348                      6305
6328                      6039
6506                      6689
16483                    15687
7736                      7344
7264                      7270
5318                      5511
3876                      3919
51440                    53203
5911                      5665
5494                      5398
3230                      3588
3471                      3608
16830                    14696
3521                      3626
4171                      4761
5420                      5416
7010                      6871
24891                    23658
3797                      3899
4959                      4736
2551                      2604
6410                      6617
4359                      4387
6521                      6778
5707                      5573
14934                    14290
8175                      7886
2498                      2794
2123                      2141
1512                      7423

In [202]:
dff.reset_index(inplace=True)

In [203]:
dff.set_index('EnergyCost2010')

                       Country  EnergyCost2012
EnergyCost2010
1947                   Albania            2118
8347                   Austria            8507
3564                   Belarus            3698
8369                   Belgium            7987
4560                  Bulgaria            4762
3814                   Croatia            3819
4623                    Cyprus            4057
6348            Czech Republic            6305
6328                   Denmark            6039
6506                   Estonia            6689
16483                  Finland           15687
7736                    France            7344
7264                   Germany            7270
5318                    Greece            5511
3876                   Hungary            3919
51440                  Iceland           53203
5911                   Ireland            5665
5494                     Italy            5398
3230                    Latvia            3588
3471                 Lithuania            3608
16830               Luxembourg           14696
3521                 Macedonia            3626
4171                     Malta            4761
5420                Montenegro            5416
7010               Netherlands            6871
24891                   Norway           23658
3797                    Poland            3899
4959                  Portugal            4736
2551                   Romania            2604
6410                    Russia            6617
4359                    Serbia            4387
6521                  Slovenia            6778
5707                     Spain            5573
14934                   Sweden           14290
8175               Switzerland            7886
2498            United Kingdom            2794
2123                    Turkey            2141
1512                   Ukraine            7423

In [ ]:
dic = {'Country':'AnotherCountry', 'EnergyCost2010':21412, 'EnergyCost2012':21312}

Multiindex

In [205]:
dff = df.set_index(['Country', 'EnergyCost2010'])

In [206]:
dff

                               EnergyCost2012
Country        EnergyCost2010
Albania        1947                      2118
Austria        8347                      8507
Belarus        3564                      3698
Belgium        8369                      7987
Bulgaria       4560                      4762
Croatia        3814                      3819
Cyprus         4623                      4057
Czech Republic 6348                      6305
Denmark        6328                      6039
Estonia        6506                      6689
Finland        16483                    15687
France         7736                      7344
Germany        7264                      7270
Greece         5318                      5511
Hungary        3876                      3919
Iceland        51440                    53203
Ireland        5911                      5665
Italy          5494                      5398
Latvia         3230                      3588
Lithuania      3471                      3608
Luxembourg     16830                    14696
Macedonia      3521                      3626
Malta          4171                      4761
Montenegro     5420                      5416
Netherlands    7010                      6871
Norway         24891                    23658
Poland         3797                      3899
Portugal       4959                      4736
Romania        2551                      2604
Russia         6410                      6617
Serbia         4359                      4387
Slovenia       6521                      6778
Spain          5707                      5573
Sweden         14934                    14290
Switzerland    8175                      7886
United Kingdom 2498                      2794
Turkey         2123                      2141
Ukraine        1512                      7423

In [208]:
dff.loc[('Albania', 1947), 'EnergyCost2012']

2118

Transpozycja

In [209]:
dff.transpose()

Country,Albania,Austria,Belarus,Belgium,Bulgaria,Croatia,Cyprus,Czech Republic,Denmark,Estonia,...,Romania,Russia,Serbia,Slovenia,Spain,Sweden,Switzerland,United Kingdom,Turkey,Ukraine
EnergyCost2010,1947,8347,3564,8369,4560,3814,4623,6348,6328,6506,...,2551,6410,4359,6521,5707,14934,8175,2498,2123,1512
EnergyCost2012,2118,8507,3698,7987,4762,3819,4057,6305,6039,6689,...,2604,6617,4387,6778,5573,14290,7886,2794,2141,7423

Zamiana miejscami multiindeksu

In [210]:
dff.swaplevel(i=0, j=1)

                               EnergyCost2012
EnergyCost2010 Country
1947           Albania                   2118
8347           Austria                   8507
3564           Belarus                   3698
8369           Belgium                   7987
4560           Bulgaria                  4762
3814           Croatia                   3819
4623           Cyprus                    4057
6348           Czech Republic            6305
6328           Denmark                   6039
6506           Estonia                   6689
16483          Finland                  15687
7736           France                    7344
7264           Germany                   7270
5318           Greece                    5511
3876           Hungary                   3919
51440          Iceland                  53203
5911           Ireland                   5665
5494           Italy                     5398
3230           Latvia                    3588
3471           Lithuania                 3608
16830          Luxembourg               14696
3521           Macedonia                 3626
4171           Malta                     4761
5420           Montenegro                5416
7010           Netherlands               6871
24891          Norway                   23658
3797           Poland                    3899
4959           Portugal                  4736
2551           Romania                   2604
6410           Russia                    6617
4359           Serbia                    4387
6521           Slovenia                  6778
5707           Spain                     5573
14934          Sweden                   14290
8175           Switzerland               7886
2498           United Kingdom            2794
2123           Turkey                    2141
1512           Ukraine                   7423

Konwertowanie do multiindeksu funkcją stack

In [212]:
df.stack()

0   Country           Albania
    EnergyCost2010       1947
    EnergyCost2012       2118
1   Country           Austria
    EnergyCost2010       8347
                       ...
36  EnergyCost2010       2123
    EnergyCost2012       2141
37  Country           Ukraine
    EnergyCost2010       1512
    EnergyCost2012       7423
Length: 114, dtype: object

In [215]:
dff.unstack()

               EnergyCost2012                                                  \
EnergyCost2010          1512    1947    2123    2498    2551    3230    3471
Country
Albania                   NaN  2118.0     NaN     NaN     NaN     NaN     NaN
Austria                   NaN     NaN     NaN     NaN     NaN     NaN     NaN
Belarus                   NaN     NaN     NaN     NaN     NaN     NaN     NaN
Belgium                   NaN     NaN     NaN     NaN     NaN     NaN     NaN
Bulgaria                  NaN     NaN     NaN     NaN     NaN     NaN     NaN
Croatia                   NaN     NaN     NaN     NaN     NaN     NaN     NaN
Cyprus                    NaN     NaN     NaN     NaN     NaN     NaN     NaN
Czech Republic            NaN     NaN     NaN     NaN     NaN     NaN     NaN
Denmark                   NaN     NaN     NaN     NaN     NaN     NaN     NaN
Estonia                   NaN     NaN     NaN     NaN     NaN     NaN     NaN
Finland                   NaN     NaN     NaN     NaN     NaN     NaN     NaN
France                    NaN     NaN     NaN     NaN     NaN     NaN     NaN
Germany                   NaN     NaN     NaN     NaN     NaN     NaN     NaN
Greece                    NaN     NaN     NaN     NaN     NaN     NaN     NaN
Hungary                   NaN     NaN     NaN     NaN     NaN     NaN     NaN
Iceland                   NaN     NaN     NaN     NaN     NaN     NaN     NaN
Ireland                   NaN     NaN     NaN     NaN     NaN     NaN     NaN
Italy                     NaN     NaN     NaN     NaN     NaN     NaN     NaN
Latvia                    NaN     NaN     NaN     NaN     NaN  3588.0     NaN
Lithuania                 NaN     NaN     NaN     NaN     NaN     NaN  3608.0
Luxembourg                NaN     NaN     NaN     NaN     NaN     NaN     NaN
Macedonia                 NaN     NaN     NaN     NaN     NaN     NaN     NaN
Malta                     NaN     NaN     NaN     NaN     NaN     NaN     NaN
Montenegro                NaN     NaN     NaN     NaN     NaN     NaN     NaN
Netherlands               NaN     NaN     NaN     NaN     NaN     NaN     NaN
Norway                    NaN     NaN     NaN     NaN     NaN     NaN     NaN
Poland                    NaN     NaN     NaN     NaN     NaN     NaN     NaN
Portugal                  NaN     NaN     NaN     NaN     NaN     NaN     NaN
Romania                   NaN     NaN     NaN     NaN  2604.0     NaN     NaN
Russia                    NaN     NaN     NaN     NaN     NaN     NaN     NaN
Serbia                    NaN     NaN     NaN     NaN     NaN     NaN     NaN
Slovenia                  NaN     NaN     NaN     NaN     NaN     NaN     NaN
Spain                     NaN     NaN     NaN     NaN     NaN     NaN     NaN
Sweden                    NaN     NaN     NaN     NaN     NaN     NaN     NaN
Switzerland               NaN     NaN     NaN     NaN     NaN     NaN     NaN
Turkey                    NaN     NaN  2141.0     NaN     NaN     NaN     NaN
Ukraine                7423.0     NaN     NaN     NaN     NaN     NaN     NaN
United Kingdom            NaN     NaN     NaN  2794.0     NaN     NaN     NaN

                                        ...                                  \
EnergyCost2010   3521    3564    3797   ...   7264    7736    8175    8347
Country                                 ...
Albania            NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
Austria            NaN     NaN     NaN  ...     NaN     NaN     NaN  8507.0
Belarus            NaN  3698.0     NaN  ...     NaN     NaN     NaN     NaN
Belgium            NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
Bulgaria           NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
Croatia            NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
Cyprus             NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
Czech Republic     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
Denmark            NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
Estonia            NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
Finland            NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
France             NaN     NaN     NaN  ...     NaN  7344.0     NaN     NaN
Germany            NaN     NaN     NaN  ...  7270.0     NaN     NaN     NaN
Greece             NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
Hungary            NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
Iceland            NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
Ireland            NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
Italy              NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
Latvia             NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
Lithuania          NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
Luxembourg         NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
Macedonia       3626.0     NaN     NaN  ...     NaN     NaN     NaN     NaN
Malta              NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
Montenegro         NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
Netherlands        NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
Norway             NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
Poland             NaN     NaN  3899.0  ...     NaN     NaN     NaN     NaN
Portugal           NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
Romania            NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
Russia             NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
Serbia             NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
Slovenia           NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
Spain              NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
Sweden             NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
Switzerland        NaN     NaN     NaN  ...     NaN     NaN  7886.0     NaN
Turkey             NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
Ukraine            NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
United Kingdom     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN


EnergyCost2010   8369     14934    16483    16830    24891    51440
Country
Albania            NaN      NaN      NaN      NaN      NaN      NaN
Austria            NaN      NaN      NaN      NaN      NaN      NaN
Belarus            NaN      NaN      NaN      NaN      NaN      NaN
Belgium         7987.0      NaN      NaN      NaN      NaN      NaN
Bulgaria           NaN      NaN      NaN      NaN      NaN      NaN
Croatia            NaN      NaN      NaN      NaN      NaN      NaN
Cyprus             NaN      NaN      NaN      NaN      NaN      NaN
Czech Republic     NaN      NaN      NaN      NaN      NaN      NaN
Denmark            NaN      NaN      NaN      NaN      NaN      NaN
Estonia            NaN      NaN      NaN      NaN      NaN      NaN
Finland            NaN      NaN  15687.0      NaN      NaN      NaN
France             NaN      NaN      NaN      NaN      NaN      NaN
Germany            NaN      NaN      NaN      NaN      NaN      NaN
Greece             NaN      NaN      NaN      NaN      NaN      NaN
Hungary            NaN      NaN      NaN      NaN      NaN      NaN
Iceland            NaN      NaN      NaN      NaN      NaN  53203.0
Ireland            NaN      NaN      NaN      NaN      NaN      NaN
Italy              NaN      NaN      NaN      NaN      NaN      NaN
Latvia             NaN      NaN      NaN      NaN      NaN      NaN
Lithuania          NaN      NaN      NaN      NaN      NaN      NaN
Luxembourg         NaN      NaN      NaN  14696.0      NaN      NaN
Macedonia          NaN      NaN      NaN      NaN      NaN      NaN
Malta              NaN      NaN      NaN      NaN      NaN      NaN
Montenegro         NaN      NaN      NaN      NaN      NaN      NaN
Netherlands        NaN      NaN      NaN      NaN      NaN      NaN
Norway             NaN      NaN      NaN      NaN  23658.0      NaN
Poland             NaN      NaN      NaN      NaN      NaN      NaN
Portugal           NaN      NaN      NaN      NaN      NaN      NaN
Romania            NaN      NaN      NaN      NaN      NaN      NaN
Russia             NaN      NaN      NaN      NaN      NaN      NaN
Serbia             NaN      NaN      NaN      NaN      NaN      NaN
Slovenia           NaN      NaN      NaN      NaN      NaN      NaN
Spain              NaN      NaN      NaN      NaN      NaN      NaN
Sweden             NaN  14290.0      NaN      NaN      NaN      NaN
Switzerland        NaN      NaN      NaN      NaN      NaN      NaN
Turkey             NaN      NaN      NaN      NaN      NaN      NaN
Ukraine            NaN      NaN      NaN      NaN      NaN      NaN
United Kingdom     NaN      NaN      NaN      NaN      NaN      NaN

[38 rows x 38 columns]

To nie jest odpowiedni df do grupowania

In [224]:
data = {
    'Region': ['North', 'South', 'East', 'West', 'North', 'South', 'East', 'West', 'North', 'South', 'East', 'West'],
    'Product': ['A', 'A', 'A', 'A', 'B', 'B', 'B', 'B', 'C', 'C', 'C', 'C'],
    'Sales': [150, 200, 130, 170, 300, 250, 220, 210, 400, 350, 380, 360],
    'Year': [2021, 2021, 2021, 2021, 2022, 2022, 2022, 2022, 2023, 2023, 2023, 2023]
}
df = pd.DataFrame(data)

In [232]:
df.pivot_table( columns=['Region','Product'], aggfunc='mean', values='Sales').dropna()

Region  East           North           South           West
Product    A    B    C     A    B    C     A    B    C    A    B    C
Sales    130  220  380   150  300  400   200  250  350  170  210  360

In [238]:
d = df.groupby(by='Region')
d.groups

{'East': [2, 6, 10], 'North': [0, 4, 8], 'South': [1, 5, 9], 'West': [3, 7, 11]}

In [239]:
d.get_group('East')

   Region Product  Sales  Year
2    East       A    130  2021
6    East       B    220  2022
10   East       C    380  2023

Grupuje po regionach wyznaczając średnią z sales

In [242]:
df.groupby(by='Region')['Sales'].mean()

Region
East     243.333333
North    283.333333
South    266.666667
West     246.666667
Name: Sales, dtype: float64

In [244]:
df.groupby('Year')['Sales'].mean()

Year
2021    162.5
2022    245.0
2023    372.5
Name: Sales, dtype: float64

In [245]:
d.count()

        Product  Sales  Year
Region
East          3      3     3
North         3      3     3
South         3      3     3
West          3      3     3

In [246]:
df.groupby(['Year','Region'])['Sales'].mean()

Year  Region
2021  East      130.0
      North     150.0
      South     200.0
      West      170.0
2022  East      220.0
      North     300.0
      South     250.0
      West      210.0
2023  East      380.0
      North     400.0
      South     350.0
      West      360.0
Name: Sales, dtype: float64

In [250]:
df.agg({'Product':'count',
        'Sales':'sum'})

Product      12
Sales      3120
dtype: int64